* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 600px;
  width: 600px;
  border-radius: 5px;
}

.cell {
  height: 6.67%;
  width: 6.66%;
  background-color: grey;
}

.eater {
  background-image: url(images/eater.png);
  background-size: cover;
  background-position: center;
}

.scale1 {
  background-image: url(images/kg.png);
  background-size: contain;
}

.scale2 {
  background-image: url(images/scale2.jpg);
  background-size: contain;
}

.scale3 {
  background-image: url(images/scale3.jpg);
  background-size: contain;
}

.scale4 {
  background-image: url(images/scale4.png);
  background-size: contain;
}

#avocado {
  background-image: url(images/avocado.png);
  background-size: contain;
}

.fries {
  background-image: url(images/burger.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.walls,
.wallTopLeftCorner,
.wallTopRightCorner,
.wallBottomLeftCorner,
.wallBottomRightCorner {
  background-image: url(images/walls.png);
  background-size: contain;
}
