* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
}

.start {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

button {
  width: 50px;
  margin-left: 270px;
}

h1 {
  font-family: 'Modak';
  font-weight: 400;
  font-size: 70px;
  color: rgba(249, 116, 167, 0.842);
  text-shadow: 2px 2px white;
  border: black;
  font-stretch: extra-expanded;
  margin: 5px auto;
}

.game {
  display: none;
  flex-direction: column;
}

h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px black;
}
p {
  font-family: 'Montserrat Alternates', sans-serif;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 600px;
  width: 600px;
  border-radius: 5px;
  margin: 20px auto;
}

.cell {
  height: 6.67%;
  width: 6.66%;
  background-color: white;
}
.walls {
  background-image: url(images/walls.png);
  background-size: contain;
}

.eater {
  background-image: url(images/eater.png);
  background-size: cover;
  background-position: center;
}

.powerfood {
  background-image: url(images/fries.png);
  background-size: contain;
}

.food {
  background-image: url(images/burger.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scale1 {
  background-image: url(images/kg.png);
  background-size: contain;
}

.scale2 {
  background-image: url(images/scale2.jpg);
  background-size: contain;
}

.scale3 {
  background-image: url(images/scale3.jpg);
  background-size: contain;
}

.scale4 {
  background-image: url(images/scale4.png);
  background-size: contain;
}

